@keyframes moveUp {
    from {
        margin-top: 1em;
    }
    to {
        margin-top: -1em;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.title {
    font-size: 5em !important;
}
.prathik {
    display: none;
}
.myprojects {
    font-size: 4em !important;
}
.tecp-image {
    display: none
}
.exo-image {
    display: none
}
.atom-image {
    display: none
}
.tecp-title {
    font-size: 4em !important;
    margin-left: 7% !important;
    text-align: center !important;
}
.exo-title {
    font-size: 4em !important;
    margin-left: 24% !important;
    text-align: center !important;
}
.atom-title {
    font-size: 4em !important;
    margin-left: 0% !important;
    text-align: center !important;
}
.desc {
    margin-left: 10% !important;
}
.me-title {
    font-size: 4em !important;
}
.about-me {
    font-size: 1.5em !important;
    line-height: 100% !important;
    word-spacing: 1% !important;
    text-align: center !important;
}
.me {
    padding-right: 10% !important;
    padding-left: 10% !important;
}
.not-established {
    margin-left: 25% !important;
}
.coming-soon {
    display: none !important;
}
.atom-title {
    margin-left: 13% !important;
}
.still-in-development {
    margin-left: 23% !important;
}
.exo-invite {
    margin-left: 28% !important;
}
.exo-discord {
    margin-left: 18% !important;
}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
.title {
    font-size: 10em !important;
    margin-top: 5% !important;
    margin-bottom: 0% !important;
}
.my-name {
    margin-right: 60% !important;
}
.my-projects-dropdown {
    margin-right: 0%;
    padding-left: 5%;
}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
.title {
    font-size: 15em !important;
    margin-top: 5% !important;
    margin-bottom: 0% !important;
}
.my-name {
    margin-right: 60% !important;
}
.my-projects-dropdown {
    margin-right: 0%;
    padding-left: 13%;
}
}