@keyframes moveUp {
    from {
        margin-top: 1em;
    }
    to {
        margin-top: -1em;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
.title {
    font-size: 5em !important;
}
.prathik {
    display: none;
}
.myprojects {
    font-size: 5em !important;
}
.tecp-image {
    display: none
}
.exo-image {
    display: none
}
.atom-image {
    display: none
}
.tecp-title {
    font-size: 3em !important;
    margin-right: 10em !important;
}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}