html {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background-image: linear-gradient(to right, rgb(146, 33, 221), rgb(28, 74, 223));
}


/*Header*/

.navbar-brand {
    color: goldenrod;
    font-size: 2.5em;
    font-weight: 200;
    letter-spacing: 0.8em;
    margin-left: 3%;
}

.navbar-brand:hover {
    color: white;
}

/*Main*/

.title {
    font-family: 'Bungee', sans-serif;
    font-size: 7em;
    font-weight: 200;
}

.main {
    margin-left: 10%;
    /* margin-right: 10%; */
    /* margin-top: 70px; */
    color: white;
}

/* .background {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: block;
} */

img {
    width: 7em;
    border-radius: 30px !important;
}

/* .prathik {
    width: 7.2em;
    height: 7em;
    border: 3px solid gold;
}

.affan {
    border: 3px solid gold;
}

.pranav {
    border: 3px solid cyan;
}

.rehan {
    border: 3px solid red;
}

.tarun {
    border: 3px solid red;
}

.sathvik {
    border: 3px solid red;
} */

mod {
    color: red;
}

gold {
    color: gold;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    margin-top: 0.4em;
}

h6 {
    font-family: 'Quicksand', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
}


/*Footer*/

.bottom {
    height: 100%;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
}

.link {
    color: goldenrod;
    font-family: 'Quicksand', sans-serif;
}

.link:hover {
    color: rgb(146, 33, 221);
    text-decoration: none;
}

.shadow {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19) !important;
}

#grid {
    color: goldenrod;
}

#grid:hover {
    color: rgb(146, 33, 221);
}

/* Tooltip container */
.rehan-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
      
/* Tooltip text */
.rehan-tooltip .rehan-tooltiptext {
    margin-top: 10%;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    width: 200%;
    top: 100%;
    left: 1%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
       
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
  
.rehan-tooltip .rehan-tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
      
/* Show the tooltip text when you mouse over the tooltip container */
.rehan-tooltip:hover .affan-tooltiptext {
    visibility: visible;
}


/* Tooltip container */
.affan-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
      
/* Tooltip text */
.affan-tooltip .affan-tooltiptext {
    margin-top: 10%;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    width: 200%;
    top: 100%;
    left: 1%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
       
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
  
.affan-tooltip .affan-tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
      
/* Show the tooltip text when you mouse over the tooltip container */
.affan-tooltip:hover .affan-tooltiptext {
    visibility: visible;
}

.shadow {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19) !important;
}