/* Smartphones (portrait) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.title {
    font-size: 400% !important;
    margin-top: 40% !important;
}
.prathik {
    display: none !important;
}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
.title {
    text-align: center;
    font-size: 800%;
    margin-top: 15%;
}
/* .button-dev {
    margin-left: 31% !important;
}*/
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
.title {
    margin-top: 10%;
    text-align: center;
}
}